/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
} */

body{
    background: bisque;
}

main{
    width: 50%;
    margin: auto;
    
}

.diapo{
    position: relative;
    overflow: hidden;
}

.elements{
    display: flex;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 100%;
    height: 75%;
    box-shadow: 2rem -2rem 2rem rgba(0, 0, 0, .6);
}

.caption{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: white;
    padding: .1rem 2rem;
    border-radius: 2.5rem 0rem ;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 1rem;
}



#navGauche, #navDroite{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

#navDroite{
    right: 0;
}